html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    /*--need to add font family from reset min--*/
    line-height: 1.15;
    background-color: rgb(255, 249, 163);
}
h1 {
    font-size: 8rem;
    color: #b36300;
}
h2 {font-size: 2.8rem;}
h3 {font-size: 2.4rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.6rem;}

h1, h2, h3, h4, h5, h6 {font-weight: 600;}

img{
    width: 100%;
    height: auto;
}
svg{
    height: 100%;
    width: 100%;
    fill: currentColor;
    pointer-events: none;
}

/*--
document styles --*/
nav, footer{
    background-color: #b4c9df;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.logo {
    align-items: center;
    gap: 2rem;
    width: 10%;
}
.links{
    gap: 4rem;
    justify-content: space-between;
}
nav img {
    height: 60 px;
    width:auto;
}

main{
    padding: 0rem 25rem;
}

.grid-container-one {
    display: grid; 
    padding: 1rem;
    margin: 1rem;
    gap: 2rem; 
    place-items: center;
}
.grid-container-one{
    grid-template-columns: 6fr 6fr;
}

.grid-item {
    flex: 1; 
}   

.grid-item.two {
    flex: 1 1 50%; 
}

.picture {
    max-width: 100%;
    height: auto;
}


.grid-container-two{
    padding: 1rem;
    margin: 1rem;
}

.grid-container-two{
    display: grid; 
    padding: 1rem;
    margin: 1rem;
    gap: 2rem; 
    place-items: center;
}

.grid-container-two{
    grid-template-columns: 3fr 6fr 3fr;
}






/*-- Media Queries --*/

@media screen and (max-width: 768px) {
    nav{
        flex-direction: column;
        gap: 2rem;
    }
}

