html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    /*--need to add font family from reset min--*/
    line-height: 1.15;
    background-color: white;
}
h1 {font-size: 3.6rem;}
h2 {font-size: 2.8rem;}
h3 {font-size: 2.4rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.6rem;}

h1, h2, h3, h4, h5, h6 {font-weight: 600;}

img{
    width: 100%;
    height: auto;
}
svg{
    height: 100%;
    width: 100%;
    fill: currentColor;
    pointer-events: none;
}

/*--
document styles --*/
nav, footer{
    background-color: #444;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.logo {
    align-items: center;
    gap: 2rem;
}
.links{
    gap: 4rem;
}
nav img {
    height: 60 px;
    width:auto;
}

.grid-container-one {
    display: flex; 
    padding: 1rem;
    margin: 1rem;
    gap: 2rem; 
}

.grid-item {
    flex: 1; 
}    flex: 1 1 50%; 

.grid-item.two {
    flex: 1 1 50%; 
}

.picture img {
    width: 100%;
    height: auto;
}


.grid-container-two{
    padding: 1rem;
    margin: 1rem;
}



/*-- Media Queries --*/

@media screen and (max-width: 768px) {
    nav{
        flex-direction: column;
        gap: 2rem;
    }
}

